/*dialog cất và sửa*/
.model {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    opacity: .4;
}

@font-face {
    font-family: 'tahoma_regular';
    src: url('/content/fonts/tahoma_regular.woff') format('woff');
}


.employee-background {
    position: absolute;
    width: 735px;
    top: calc(50% - 200px);
    left: calc(50% - 400px);
    height: 490px;
    background-color: #0068b2;
    display: block;
}

    .employee-background .employee-table {
        background-color: #ffffff;
        width: 98%;
        height: 88%;
        margin: auto;
        padding-top: 7px;
    }



    .employee-background .employee-name {
        color: #ffffff;
        width: 98%;
        height: 8%;
        background-color: #0068b2;
        margin: auto;
        display: flex;
        position: relative;
        margin-top: 1px;
    }

    .employee-background .employee-name-employee {
        align-self: center;
    }


    .employee-background .employee-tableInfor {
        background-color: #ffffff;
        width: 95.5%;
        height: 87.6%;
        margin: auto;
        padding: 10px;
        padding-bottom: 5px;
    }


.customer-background {
    position: absolute;
    width: 735px;
    top: calc(50% - 200px);
    left: calc(50% - 400px);
    height: 430px;
    background-color: #0068b2;
    display: block;
}

    .customer-background .employee-table {
        background-color: #ffffff;
        width: 98%;
        height: 88%;
        margin: auto;
        padding-top: 7px;
    }



    .customer-background .employee-name {
        color: #ffffff;
        width: 98%;
        height: 8%;
        background-color: #0068b2;
        margin: auto;
        display: flex;
        position: relative;
        margin-top: 1px;
    }

    .customer-background .employee-name-employee {
        align-self: center;
    }


    .customer-background .employee-tableInfor {
        background-color: #ffffff;
        width: 96%;
        height: 88%;
        margin: auto;
        padding: 10px;
        padding-bottom: 5px;
    }

.employee-name-button {
    width: 8px;
    height: 15px;
    background-image: url('/content/img/cancel.png');
    background-repeat: no-repeat;
    float: right;
    position: absolute;
    right: 1px;
    top: 10px;
}

.table-content {
    width: 100%;
    height: 90%;
    padding: 10px;
    margin-left: 5px;
}

.infoInput-text2 {
    width: 91%;
}

.workStatus {
    height: 26px;
    outline: none;
    border-color: #cacac7;
}

.employee-table .table-footer {
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    display: flex;
    margin-top: 10px;
}


/*HELP button*/
.employee-tableInfor .footer-help {
    display: flex;
    width: 10%;
    border: 1px solid #d1d1d0;
    outline-color: #006dbc;
    background-color: white;
    outline: none;
}

.employee-tableInfor .footer-help-icon {
    background: url('/content/img/IconSprite.png') no-repeat 0 -1793px;
    width: 15px;
    height: 14px;
    margin-top: 1px;
    margin-left: 5px;
}

.employee-inputInforCommon {
    width: 208%;
}

.employee-inputInforIdenityPlace {
    width: 282%;
}

.employee-tableInfor .footer-help-text {
    height: 70%;
    width: 80%;
    text-align: center;
    margin-top: 1px;
}


/*CUT Button*/
.employee-tableInfor .footer-cut {
    display: flex;
    width: 10%;
    border: 1px solid #d1d1d0;
    margin-left: 4.8%;
    outline-color: #006dbc;
    background-color: white;
    outline: none;
}

.employee-tableInfor .footer-cut-icon {
    background: url(/content/img/IconSprite.png) no-repeat 0 -2032px;
    width: 27px;
    height: 14px;
    margin-top: 1px;
    margin-left: 8px;
}

.employee-tableInfor .footer-cut-text {
    height: 70%;
    width: 80%;
    text-align: center;
    margin-top: 1px;
}


/*ADD Button*/

.employee-tableInfor .footer-add {
    display: flex;
    width: 18%;
    border: 1px solid #d1d1d0;
    margin-left: 2%;
    outline-color: #006dbc;
    background-color: white;
    outline: none;
}

.employee-tableInfor .footer-add-icon {
    background: url('/content/img/IconSprite.png') no-repeat 0 -1872px;
    width: 15px;
    height: 15px;
    margin-top: 1px;
    margin-left: 8px;
}

.employee-tableInfor .footer-add-text {
    height: 70%;
    width: 70%;
    text-align: end;
    margin-top: 1px;
}


/*CANCEL Button*/
.employee-tableInfor .footer-cancel {
    display: flex;
    width: 13%;
    border: 1px solid #d1d1d0;
    margin-left: 2%;
    outline-color: #006dbc;
    background-color: white;
    outline: none;
}

.employee-tableInfor .footer-cancel-icon {
    background: url(/content/img/IconSprite.png) no-repeat 0 -1952px;
    width: 17px;
    height: 15px;
    margin-top: 1px;
    margin-left: 5px;
}

.employee-tableInfor .footer-cancel-text {
    height: 70%;
    width: 67%;
    text-align: inherit;
    margin-top: 1px;
}

.employee-tableInfor .footer-space-text {
    height: 70%;
    width: 39.8%;
}
/*footer*/
.table-footer-content {
    width: 100%;
    height: 100%;
}

.employee-table td {
    width: 25%;
    padding-left: 8px;
    padding-right: 6px;
}



.employee-tableInfor input {
    height: 25px;
    border: 1px solid #cfcfce;
    padding: 0 4px;
    outline: none;
}

    .employee-tableInfor input:focus {
        border: 1px solid #0068b2;
    }

.row {
    margin-bottom: 8px;
}

label {
    display: block;
}

.employee-tableInfor .dialog-footer {
    height: 40px;
    width: 100.3%;
    display: flex;
    margin-top: -1px;
}

.employee-tableInfor .table-contentInfor {
    height: 91%;
}

.commonInfor-input {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 8px;
}

.infoInput-text {
    width: 80%;
    height: 210px;
}

.infoInput-imgCommon {
    width: 20%;
    height: 170px;
    display: block;
}

.infoInput-textImage {
    width: 100%;
    height: 15%;
    font-size: 11px;
    text-align: center;
    font-style: italic;
}

#spanImage {
    font-size: 11px;
    font-weight: 900;
}



.employee-tableInfor button {
    width: 75px;
    padding: 4px;
    height: 25px;
    align-self: center;
}

.textFontWeight {
    font-weight: 900;
    border-bottom: 1px solid #cacac7;
    height: 15px;
    line-height: 50%;
    margin-top: 3px;
}

.inputSelected {
    height: 25px;
    width: 291%;
    outline: none;
    border-color: #cacac7;
}


/*
    Css này dùng để: khi người dùng k nhập các trường dữ liệu bắt buộc 
    như EmployeeName hoặc EmployeeCode, thì border của ô text sẽ chuyển màu 
*/
.require-error {
    border: 1px solid #f00 !important;
}

.infoInput-img {
    width: 100%;
    height: 85%;
    background-color: #cacac7;
}

.infoInput-img .buttonImage {
    width: 37px;
    height: 24px;
    margin-left: 10px;
    border: none;
}


#cancelImage {
    background: url('/content/img/IconSprite.png') no-repeat -3px -2003px;
    width: 11px;
    height: 11px;
    margin-left: 7px;
}

.buttonPick{
    margin-left: 19px;
}

.imageUser {
/*    background: url('/content/img/default-user.png') no-repeat;*/
    width: 82px;
    height: 75%;
    margin: auto;
}

#spanButton{
    font-weight: 700;
    
}
/*CSS của dialog Yes/no question*/
.yesNo-background {
    position: absolute;
    width: 320px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    height: 126px;
    background-color: #0068b2;
    display: block;
}

.yesNo-header {
    width: 95%;
    height: 13%;
    background-color: #0068b2;
    margin: auto;
    color: #ffffff;
    margin-top: 4px;
    margin-left: 5px;
    line-height: 25px;
}

.yesNo-Content {
    width: 96%;
    height: 48%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 9px;
    display: flex;
}

    .yesNo-Content p {
        color: black;
    }

.yesNo-button {
    width: 61px;
    height: 24px;
    justify-content: flex-end;
    float: right;
    margin-right: 10px;
}

.yesNo-footer {
    width: 96%;
    height: 24%;
    background-color: #ffffff;
    margin: auto;
    border: none;
}

#yesNo-question {
    padding-left: 10px;
}

.dialogConfirm #yesNoImage {
    background: url("../../content/img/helpnew.png") no-repeat;
    width: 30px;
    height: 40px;
    background-position-y: 13px;
    margin-left: 10px;
}

.dialogNoti #yesNoImage {
    background: url("../../content/img/helpnew.png") no-repeat;
    width: 30px;
    height: 35px;
    background-position-y: 5px;
    margin-left: 8px;
}


/*CSS của dialog Noti*/

.yesNo-backgroundNoti {
    position: absolute;
    width: 320px;
    top: calc(50% - 100px);
    left: calc(50% - 200px);
    height: 92px;
    background-color: #0068b2;
    display: block;
}

.yesNo-headerNoti {
    width: 95%;
    height: 13%;
    background-color: #0068b2;
    margin: auto;
    color: #ffffff;
    margin-top: 4px;
    margin-left: 5px;
    line-height: 19px;
}

.yesNo-ContentNoti {
    width: 96%;
    height: 37%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 9px;
    display: flex;
}

.yesNo-Content p {
    color: black;
}

.yesNo-buttonNoti {
    width: 61px;
    height: 24px;
    justify-content: flex-end;
    float: right;
    margin-right: 10px;
}

.yesNo-footerNoti {
    width: 96%;
    height: 29%;
    background-color: #ffffff;
    margin: auto;
    border: none;
}

#yesNo-questionNoti {
    line-height: 33px;
    margin-left: 8px;
}
